@import "tailwindcss";

body {
  font-family: "Sora", sans-serif;
}
.agreement-content h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.agreement-content h2 {
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
}

.agreement-content p {
  line-height: 1.6;
  margin-bottom: 12px;
}
